<h1>All Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Current Status</th>
      <th>Opened</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.status %></td>
        <td><%= distance_of_time_in_words_to_now issue.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :toolbar do %>
	<li><%= link_to "Submit New Issue", new_issue_path %></li>
<% end %>
