<h1>Issue - <%= @issue.title %></h1>

<div class="hero-unit">
<h2>Submitted by <%= @issue.submitter.username %> <%= distance_of_time_in_words_to_now @issue.created_at %> ago:</h2>
<p><%= @issue.content %></p>
</div>
<p><b>Current Status: </b><%= @issue.status %></p>

<% if @issue.comments.count > 0 %>
	<% @issue.comments.each do |comment| %>
		<%= render :partial => 'comments/show', :locals => {:comment => comment} %>
	<% end %>
<% else %>
<h3>No comments yet!</h3>
<% end %>
<table class="table">
<tr>
<td>
<h2>Add a comment</h2>
<%= render :partial => 'comments/form' %>
</td>
<td>
<h2>Update Status</h2>
<%= form_for @issue do |f| %>
<%= f.text_field :status %><br/>
<%= f.submit "OK", :class => 'btn btn-mini btn-info' %>
<% end %>
</td>
</tr>
</table>
