<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Edit", edit_user_path(user), :class => "btn-mini btn btn-info" %> 
          <%= link_to "Destroy", user, :method => :delete, :class => "btn btn-mini btn-danger", :confirm => "Really delete #{user.username}?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :toolbar do %>
	<li><%= link_to "Add New User", new_user_path %></li>
<% end %>
