<h1>Article <%= @article.position %>, Section <%= @section.position %> - <%= @article.name %>: <%= @section.title %></h1>

<div class="hero-unit">
<% if @section.primary %>
<p><%= @section.primary.content%></p>
<% else %>
<p>Nobody has promoted a version yet!</p>
<% end %>
</div>

<h2>All Versions</h2>
<% @section.versions.each do |version| %>
<table class="table table-condensed">
	<tr>
		<td>
			<%= link_to "Duplicate", new_article_section_version_path(@article, @section), :class => 'btn btn-mini btn-success' %>
			<%= link_to "Destroy", article_section_version_path(@article, @section, @version), :method => destroy, :class => 'btn btn-mini btn-warning', :confirm => "Are you sure?" %>
			<%= link_to "Promote", promote_article_section_version_path(@article, @section, @version), :class => 'btn btn-mini btn-info' %>
		</td>
		<td><%= version.content %></td>
	</tr>
</table>
<% end %>

<h2>New Version</h2>
<%= form_for [@article, @section, @section.versions.build] do |f| %>
	<%= f.text_area :content, :size => '60x4' %>
	<%= f.submit "Create", :class => 'btn btn-large btn-success' %>
<% end %>

<% content_for :toolbar do %>
	<li><%= link_to "Edit Section", edit_article_section_path(@article, @section) %></li>
<% end %>
